body{
/*	overflow: hidden;*/
}
.card{
	display: flex;
	flex-direction: column;
	width:15vw;
}
.card>img{
	width: 12vw;
}
.card>p{
	text-align:center;
}
.Files{
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
}
#Upper{
	height:20vh;
}
#Upper>h1{
	margin:1vh;
}
#Lower{
	height:80vh;
	overflow-y:hidden;
}
#navbar{
	width:100%;
	height: 20vh;
	display: flex;
	flex-wrap: wrap;
}
.nav{
	width:33.33%;
}
