body{
/*	overflow: hidden;*/
}
.card{
	display: flex;
	flex-direction: column;
	width:12vw;
}
.card>img{
	width: 12vw;
}
.card>p{
	text-align:center;
}
.Files{
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
}
#Upper{
	height:20vh;
}
#Upper>h1{
	margin:1vh;
}
#Lower{
	height:80vh;
	overflow-y:hidden;
}
#Right{
	flex-direction: column;
	justify-content: space-between;
}
#navbar{
	width:100%;
	height: 6vw;
	display: flex;
	flex-wrap: wrap;
}
.nav{
	width:33.33%;
}
#AppName{
	width:100%;
	text-align: center;
	display: flex;
	justify-content: space-between;
	font-size: 4vw;
}
#navButtons{
	display: flex;
	width: 100%;
}
.navbut{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.nav>img{
	width:100%;
}
#breadcrumbs{
	width:100%;
	font-size: 4vw;
	text-align: center;
	background-color: #313244;
	color: #f5c2e7;
	border: 0.02vw solid #45475a;
	padding: 0;
	width: 100%;
	font-family: inherit;
}
